.title {
   color: rgb(15, 229, 0);
   background-color: rgb(16, 14, 14);
   font-family: sans-serif;
   font-size: 36px;
   text-indent: 275px;
   border-width: 6px;
   border-color: aqua;   
   border-style: groove;
   border:5px aqua:solid;
}

.text {
   background-color:yellow;
   color:black;
   font-size: 20px;
   font-weight: 800;
   font-style: italic;
   /* text-decoration: overline underline; */
   text-indent: 370px;
   text-transform: uppercase;
   /* word-spacing: 20px; */
}
.extra_text {
   text-align: justify;
   background-color:teal;
   font-family: serif;
   text-transform: uppercase;
   word-spacing: 20px;
   line-height: 20px;
}