.card4{
   width: 400px;
   height: 400px;
   background-color: aqua;   
   display: inline-block;
}
.text{
   width: 300px;
   height: 300px;
   background: aqua;
   display: inline-block;
   border-radius: 200ch;
   border-radius:5%;
   font-family: sans-serif;
   /* padding-top: 20px;
   padding-left: 30px;
   padding-right: 40px; */
   padding: 20px 30px 1px 40px;
   margin: 20px 30px;

}
.aa1{
   margin-top: 15px;
}