*{
   margin: 0;
   padding: 0;  
}
@font-face{
   font-family: "header";
   src: url("../fonts/Bullpen3D.ttf;")
}
.header{
   background:green;
   width: 100%;
   height: 40px;
   color:white;
   text-align: center;
   padding-top: 12px;
   text-transform: uppercase;
}
.navbar{
   background:aqua;
   padding: 10px;
   text-align: center;
   font-size: 20px;
   text-transform: uppercase;   
}
section{
   width: 70%;
   background:goldenrod;
   height: 400px;
   display: inline-block;
}
article{
   background:silver;
   margin: 5px;
   padding: 6px 10px;
}
.aside{
   background: red;
   display: inline-block;
   width: 25%;
  
   text-align: center;
}
ul{
   list-style-type: none;
}
.footer{
   background: gray;
   padding: 10px;
   text-align: center;
   color:white;
}